/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* line 15, ../../app/assets/stylesheets/application.css.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 20, ../../app/assets/stylesheets/application.css.scss */
body {
  background: white;
  color: #232323;
  font: 13pt "Helvetica Neue", Helvetica;
  margin: 5px 20% 0 20%;
  height: 100%;
  padding: 30px;
}

/* line 29, ../../app/assets/stylesheets/application.css.scss */
h1 {
  margin-bottom: 20px;
}

/* line 33, ../../app/assets/stylesheets/application.css.scss */
nav {
  margin: 10px 0 10px 0;
}

/* line 37, ../../app/assets/stylesheets/application.css.scss */
a {
  color: #1B7EE0;
}

/* line 41, ../../app/assets/stylesheets/application.css.scss */
input[type=text], input[type=email], input[type=password], textarea {
  font-size: 125%;
  border: 0px;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 3px;
  margin: 5px 0px;
}

/* line 52, ../../app/assets/stylesheets/application.css.scss */
textarea {
  resize: none;
}

/* line 56, ../../app/assets/stylesheets/application.css.scss */
input[type=file] {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 61, ../../app/assets/stylesheets/application.css.scss */
.flash {
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-weight: bold;
}

/* line 68, ../../app/assets/stylesheets/application.css.scss */
#notice {
  background: #CFFF9C;
  color: black;
}

/* line 73, ../../app/assets/stylesheets/application.css.scss */
#alert {
  background: #FFA3AA;
}

/* line 77, ../../app/assets/stylesheets/application.css.scss */
.errorExplanation {
  font-size: 85%;
  color: #BF0000;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 85, ../../app/assets/stylesheets/application.css.scss */
ul#projects {
  margin-top: 1em;
  list-style-type: none;
  border: 1px solid #D8E1EB;
  -border-radius: 3px;
}
/* line 90, ../../app/assets/stylesheets/application.css.scss */
ul#projects li {
  padding: 10px 5px;
  font-style: italic;
  color: #8a8a8a;
}
/* line 95, ../../app/assets/stylesheets/application.css.scss */
ul#projects li.odd {
  background: #EDF6FF;
}
/* line 99, ../../app/assets/stylesheets/application.css.scss */
ul#projects li h3 {
  font-style: normal;
}

/* line 107, ../../app/assets/stylesheets/application.css.scss */
.project em {
  color: #8a8a8a;
}

/* line 112, ../../app/assets/stylesheets/application.css.scss */
ul#tickets {
  padding: 15px;
  list-style-type: none;
}

/* line 117, ../../app/assets/stylesheets/application.css.scss */
ul#tickets li {
  margin-bottom: 10px;
}

/* line 121, ../../app/assets/stylesheets/application.css.scss */
#permissions {
  border: 1px solid #D8E1EB;
}

/* line 125, ../../app/assets/stylesheets/application.css.scss */
#permissions td, #permissions th {
  padding: 10px;
  margin: 0;
  text-align: center;
}

/* line 131, ../../app/assets/stylesheets/application.css.scss */
#permissions thead th {
  border-bottom: 1px solid #2F759B;
  padding: 10px;
}

/* line 136, ../../app/assets/stylesheets/application.css.scss */
#permissions tr.odd {
  background: #EDF6FF;
}

/* line 143, ../../app/assets/stylesheets/application.css.scss */
ul#tickets .state {
  padding-right: 5px;
}

/* line 147, ../../app/assets/stylesheets/application.css.scss */
ul#tickets .state {
  float: left;
}

/* line 151, ../../app/assets/stylesheets/application.css.scss */
#ticket, .comment {
  margin: 15px 0 15px 0;
  padding: 15px;
  border: 1px solid #e0e0e0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 159, ../../app/assets/stylesheets/application.css.scss */
#ticket menu {
  float: right;
  font-size: 75%;
}

/* line 164, ../../app/assets/stylesheets/application.css.scss */
#ticket .state, .states {
  float: right;
}

/* line 168, ../../app/assets/stylesheets/application.css.scss */
#ticket section {
  clear: both;
}

/* line 172, ../../app/assets/stylesheets/application.css.scss */
.state {
  display: inline;
  width: 4em;
  text-align: center;
  font-weight: bold;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-right: 10px;
  font-size: 80%;
  padding: 5px;
}

/* line 184, ../../app/assets/stylesheets/application.css.scss */
#ticket #tags {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 189, ../../app/assets/stylesheets/application.css.scss */
#ticket .tag {
  background: #1B7EE0;
  font-size: 75%;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  color: white;
  padding: 8px;
}

/* line 198, ../../app/assets/stylesheets/application.css.scss */
#ticket .tag a {
  color: white;
}

/* line 202, ../../app/assets/stylesheets/application.css.scss */
#ticket .tag .delete {
  font-size: 125%;
  text-decoration: none;
}

/* line 207, ../../app/assets/stylesheets/application.css.scss */
.comment, .new_comment {
  width: 75%;
}

/* line 211, ../../app/assets/stylesheets/application.css.scss */
#ticket #watchers {
  font-size: 85%;
}
